body {
  /* background-color: #6a5acd; */
  background-image: url(background.jpg);
  background-size: cover;
}
.book {
  background-color: white;
  height: 450px;
  box-shadow: 5px 10px;
}
h1 {
  font-size: 3.5em;
}
h3 {
  font-size: 2.5em;
}
@media screen and (min-width: 780px) {
  .country {
    height: 250px;
  }
}
/* spinner CSS  */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 


