body {
  /* background-color: #6a5acd; */
  background-image: url(background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}
.book {
  background-color: white;
  height: 450px;
  box-shadow: 5px 10px;
}
h1 {
  font-size: 3.5em;
}
h3 {
  font-size: 1.5em;
}
